@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap');
*{
    background-color: #001000;
    color: rgb(204, 32, 152);
   
    font-family: 'Bubblegum Sans', cursive;
}
  
